__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
pterotactyl/*/experiments/
pterotactyl/object_data/*
*core*
pterotactyl.egg-info/
test/outputs/
build/
dist/
object_data/*
*runner.py*
*submit.py*
*results*
*vision_old*
*experiments*
*produce_sheets.py*